@use '$styles/helpers/mixins' as *;

:root {
	/* COLORS */
	// Primaris
	--primary-001: #d90429;
	--primary-002: #ef233c;
	--secondary-001: #edf2f4;
	--secondary-003: #8d99ae;
	--secondary-004: #2b2d42;

	// Theme
	--theme-dark: #292929;
	// --theme-dark: #961212; j'aime la couleur !

	--theme-light: #f9f8f8;

	// neutral
	--white: #ffffff;
	--black: #000000;

	// Other
	--secondary-50: #fbfcfc;
	--secondary-100: #f8f9f9;
	--secondary-200: #e9eced;
	--secondary-300: #e1e5e7;
	--secondary-500: #c4c9cb;
	--secondary-700: #6d7071;
	--secondary-800: #414343;
	--secondary-900: #161616;

	--warning-100: #fff3e3;
	--warning-500: #ff9000;

	--success-100: #f3f8e6;
	--success-300: #b7d768;
	--success-500: #72ba00;

	--error-100: #d73d3d;
	--error-500: #d73d3d;

	/* FONT FAMILY */
	--font-primary: 'Open Sans', sans-serif;
	--font-secondary: 'ClanOT-NarrowNews', sans-serif;
	--font-secondary-bold: 'ClanOT-NarrowBold', sans-serif;
	--font-narrow-medium: 'ClanOT-NarrowMedium', sans-serif;

	/* FONT SIZE */
	--text-xs: 0.75rem; /* 12px */
	--text-sm: 0.875rem; /* 14px */
	--text-base: 1rem; /* 16px */
	--text-lg: 1.125rem; /* 18px */
	--text-xl: 1.25rem; /* 20px */
	--text-2xl: 1.5rem; /* 24px */
	--text-3xl: 1.875rem; /* 30px */
	--text-4xl: 2.25rem; /* 36px */
	--text-5xl: 3rem; /* 48px */
	--text-6xl: 4rem; /* 64px */

	/* BREAK-POINT */
	--breakpoint-mobile: 480px;
	--breakpoint-tablet: 768px;
	--breakpoint-desktop: 1024px;
	--breakpoint-desktop-large: 1400px;

	/* SHADOW */
	--shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	--shadow-md: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
	--shadow-base: 0 0 10px 0 rgba(0, 0, 0, 0.05);
	--shadow-xl: 0 0 10px 1px rgba(0, 0, 0, 0.25);
	
	/* BORDER */ 
	--border-sm: 2px solid var(--primary-600);
	--border-md: 2px solid var(--primary-200);
	--border-base: 2px solid #e5e5e5;

	/* NAVIGATION */
	--header-height: 4rem;
	--sibebar-width: 20rem;

	// RADIUS
	--btn-radius: 8px;
}
